@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{

    font-family: 'Josefin Sans', sans-serif;
}

.logo{

    width: 40%;
}

.footer{
    background-color:var(--black);
    text-align: left ;
}


.footer-left{
 text-align: left;   
}


.footer-links{
    text-align: left;
}

